.gray-background {
  background-color: #f1f1f1; /* Use the appropriate shade of gray or a color code of your choice */
  height: 100vh;
}
.green-Tool{
    margin-top: -10px !important;
}
.logo{
    width: 7%;
    margin-top: 12px;
}
.mobile-toolbar{
  display: none;
}
@media (max-width: 500px) {
  .variety-section{
    margin-top: 42px !important;
    flex-wrap: wrap;
    height: 40vh !important;
    align-items: center;
    margin: 0% !important;
    justify-content: flex-start !important;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .mobile-subtool{
    padding-top: 12px;
  }
  .seller{
    display: none;
  }
  .mobile-toolbar{
    display: block;
  }
  .example-form-field{
    width: 56vw !important;
  }
  .logo{
    width: 20% !important;
  }
}
.example-form-field {
    width: 30vw;
    position: relative;
    top: 12px;
  }

  .hover-primary {
    background-color: #1976D2; /* Replace with your desired primary color */
    color: white; /* Text color on hover */
  }
  mat-toolbar{
    justify-content: space-around;
    
  }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.sign-up{
    border-bottom: 1px solid;
    padding-left: 24px;
}
.search_icon{
    padding-left: 20px;
}

.mat-mdc-button>.mat-icon {

    height: 24px !important;
    width: 24px !important;
}

.display-items{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
.display-items:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.variety-section{
  display: flex;
  height: 20vh;
  width: 100vw;
  background-color: floralwhite;
  margin: 8px;
  align-items: flex-start;
  justify-content: space-evenly;
}
$itemwidth: 72px;
.image-class{
  width: $itemwidth;
}
.item-name{
  width: $itemwidth;
  text-align: center;
}