<div class="gray-background">

  <div class="green-Tool">
    <mat-toolbar>
      <img class="logo" src="assets/image/greenlog.png" alt="">
      <mat-form-field class="example-form-field" appearance="outline">
        <span matPrefix class="search_icon material-symbols-outlined">search</span>
        <input placeholder="Search For Products" matInput type="text" [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option><strong> Discover More</strong></mat-option>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            <mat-icon>search</mat-icon>{{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="seller">
        <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon> <span class="material-symbols-outlined">
              storefront
            </span></mat-icon> Become a Seller
        </button>
        <button mat-button [matMenuTriggerFor]="menuSign" class="example-icon"
          aria-label="Example icon-button with share icon" (mouseenter)="isHovered = true"
          (mouseleave)="isHovered = false" [ngClass]="{'hover-primary': isHovered}">
          <mat-icon class="material-symbols-outlined">
            person
          </mat-icon> Sign In
        </button>
        <mat-menu #menuSign="matMenu">
            <button mat-menu-item class="sign-up">
              <span>New Customer?</span> <button mat-button class="sign-up" color="primary">Sign Up</button> 
            </button>
            <button mat-menu-item>
              <mat-icon> <span class="material-symbols-outlined">
                person
              </span></mat-icon>
              <span>My Profile</span>
            </button>
            <button mat-menu-item>
              <mat-icon>
                <span class="material-symbols-outlined">
                    orders
                    </span>
              </mat-icon>
              <span>Orders</span>
            </button>
            <button mat-menu-item>
                <mat-icon>
                    <span class="material-symbols-outlined">
                        favorite
                        </span>
                </mat-icon>
                <span>WishList</span>
            </button>
            <button mat-menu-item>
                <mat-icon>
                    <span class="material-symbols-outlined">
                        featured_seasonal_and_gifts
                        </span>
                </mat-icon>
                <span>Rewards</span>
            </button>
            <button mat-menu-item>
                <mat-icon>
                    <span class="material-symbols-outlined">
                        redeem
                        </span>
                </mat-icon>
                <span>Gift Cards</span>
            </button>
          </mat-menu>
        <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>
            <span class="material-symbols-outlined">
                shopping_cart
                </span>
        </mat-icon> Cart
        </button>
      </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>
            <span class="material-symbols-outlined">
            more_vert
            </span>
        </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>
                <span class="material-symbols-outlined">
                    notifications
                    </span>
            </mat-icon>
            <span>Notifications</span>
          </button>
          <button mat-menu-item>
            <mat-icon>
                <span class="material-symbols-outlined">
                support_agent
                </span>
            </mat-icon>
            <span>24 x 7 Customer Care</span>
          </button>
          <button mat-menu-item>
            <mat-icon>
                <span class="material-symbols-outlined">
                    add_ad
                    </span>
            </mat-icon>
            <span>Advertisements</span>
          </button>
          <button mat-menu-item>
            <mat-icon>
                <span class="material-symbols-outlined">
                    download
                    </span>
            </mat-icon>
            <span>Download App</span>
          </button>
        </mat-menu>
    </mat-toolbar>
    <mat-toolbar class="mobile-toolbar">
      <div class="mobile-subtool">
      <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon> <span class="material-symbols-outlined">
            storefront
          </span></mat-icon> Become a Seller
      </button>
      <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>
          <span class="material-symbols-outlined">
              shopping_cart
              </span>
      </mat-icon> Cart
      </button>
      <button mat-button [matMenuTriggerFor]="menuSign" class="example-icon"
          aria-label="Example icon-button with share icon" (mouseenter)="isHovered = true"
          (mouseleave)="isHovered = false" [ngClass]="{'hover-primary': isHovered}">
          <mat-icon class="material-symbols-outlined">
            person
          </mat-icon> Sign In
        </button>
      </div>
    </mat-toolbar>
</div>
<div class="variety-section" >
  <div class="display-items" *ngFor="let item of items">
    <div>
      <img class="image-class" [src]="item.image" alt="">
    </div>
    <div class="item-name">
     <strong>{{item.itemName}}</strong>
    </div>
  </div>
</div>

<ngx-slick-carousel class="carousel" 
#slickModal="slick-carousel" 
[config]="slideConfig" 
>
<div ngxSlickItem *ngFor="let slide of slides" class="slide">
<img src="{{ slide.image }}" alt="" class="img-style">
    <div class="slide-name"> {{slide.itemName}}</div>
</div>
</ngx-slick-carousel>

</div>